* {
    padding: 0;
    margin: 0;
}


html {
    background-color: #caf0f2;
}

/* The footer is fixed to the bottom of the page */

footer {
    position: relative; /* Esto permite que el footer siga el contenido */
    bottom: 0; /* Lo coloca en la parte inferior de la pantalla */
    width: 100%; /* Opcional, ajuste el ancho al 100% del viewport */
    background-color: #212E40; /* Estilo de fondo, ajuste según sus preferencias */
    color: #fff; /* Estilo de texto, ajuste según sus preferencias */
    padding: 10px; /* Espaciado alrededor del contenido del footer, ajuste según sus preferencias */
  }
  
@media (max-height:800px) {
    footer {
        position: static;
    }
}

.footer-distributed {
    background-color: #860842;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 40px; /*Footer padding top*/
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font-size: 36px;
    margin: 0;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.iconimage img {
    fill: white; /* Establece el color de relleno a blanco */
  }
/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
    text-align: center;
}


.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 10px;
    margin-bottom: 5px;

}

.footer-distributed .footer-icons a:hover {
    background-color: #860842;
}

.footer-links a:hover {
    color: #860842;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin: 0;
    }

    footer {
        position: static;
    }
}       
        