/* Clase para mostrar el div de rangos */
.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Clase para ocultar el div de rangos */
.fade-out {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Clase para abrir el div de "DIAMANTE" */
.open {
  /* Puedes definir estilos adicionales aquí */
}
